<link rel="stylesheet" href="/css/home.css" />
<!-- <link rel="stylesheet" href="/css/chat_box.css" /> -->

<% if(locals.user){ %>
    <section class="home-container">
        <h1 style="color: rgb(236, 91, 24)">Posts</h1>
        <%-include('_post')-%>
        <section class="display-posts">
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post_display') -%>
                        <%} %>
            </ul>
        </div>
        </section>
            </section>
            <section class="friends">
                <h2 style="color: rgb(212, 62, 62)">Friends</h2>
                <% for(friends of all_users){ %>
                    <p>
                        <a style="text-decoration: none; color: rgb(222, 41, 41)" href="/users/profile/<%= friends.id %>">
                            <%= friends.name %>
                        </a>
                    </p>
                    <%}%>
            </section>
            <%}else{%>
                <div style="text-align: center; background-color: aquamarine; height: 100vh">
                    <h1>Welcome To Codeial!!</h1>
                    <h2>Please Sign in / Sign up To Continue</h2>
                </div>
                <%}%>
    </section>